.image__container {
  width: "100%";
  object-fit: "cover";
  min-height: "600px";
}

.image__button {
  width: "75px";
  background-color: "black";
  border-radius: "50px";
  height: "35px";
  color: "white";
  display: "flex";
  align-items: "center";
  text-align: "center";
  margin-left: "-150px";
  margin-bottom: "20px";
}
